html {
  scroll-behavior: smooth;
}

/* LOADER */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* VIDEO */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* NAVBAR */

@media (min-width: 768px) {
  #logoimage {
    width: 100px;
  }
}

@media (max-width: 767px) {
  #logoimage {
    display: none;
  }
}

@media (min-width: 768px) {
  .navigationitemsleft {
    margin-right: 40px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .navigationitemsright {
    margin-left: 40px;
    font-size: 18px;
  }
}

#logoimageonphone {
  width: 80px;
  position: absolute;
}

@media (min-width: 768px) {
  #logoimageonphone {
    display: none;
  }
}

@media (max-width: 575px) {
  #logoimageonphone {
    margin-left: 43%;
  }
}

@media (min-width: 575px) {
  #logoimageonphone {
    margin-left: 45%;
  }
}

@media (max-width: 767px) {
  .navigationitemsleft {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .navigationitemsright {
    margin-top: 10px;
  }
}

/* FOOTER */

.footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer .item.text {
    margin-bottom: 0;
  }
}

.footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* LÄNDERLISTE */

.searchInput {
	background-image: url("../img/suche.svg");
	background-position: 15px 15px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 1%;
}

.table th, table.countries .table td {
  vertical-align: middle;
  box-sizing: border-box;
}

/* KONTAKTFORMULAR */
.contact input[type=text], textarea {
	width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

.contact input[type=submit] {
	background-color: #3498db;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}

.contact input[type=submit]:hover {
	background-color: #158EDF;
}

.contact .form {
	margin: 2%;
}
